home-sensors/IoT-homeNormal_1.json
[
  {
    "id": "6e95fbf7.c3c174",
    "type": "tab",
    "label": "IoT-homeNormal_1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4541d5f9.c931dc",
    "type": "ibmiot in",
    "z": "6e95fbf7.c3c174",
    "authentication": "apiKey",
    "apiKey": "a0ddb367.4e94",
    "inputType": "evt",
    "logicalInterface": "",
    "ruleId": "",
    "deviceId": "homeNormal_1",
    "applicationId": "",
    "deviceType": "+",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "homeNormal_1",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": true,
    "allLogicalInterfaces": false,
    "allEvents": true,
    "allCommands": "",
    "allFormats": "",
    "qos": "0",
    "x": 100,
    "y": 40,
    "wires": [["6715a285.1afcac", "ef177830.62349", "4e1950b8.58d5f8"]]
  },
  {
    "id": "6715a285.1afcac",
    "type": "change",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 40,
    "wires": [["79086991.5c336"]]
  },
  {
    "id": "ef177830.62349",
    "type": "function",
    "z": "6e95fbf7.c3c174",
    "name": "fundamental logic algo!",
    "func": "// speed up the time, to simulate faster time\n// 60 => 60 times faster, 1 minute becomes 1 sec\n// results in inactivityThreshold 60 min => 60 sec\nconst timeSpeedUp = 180;\n\nconst getCurrentTimeUnix = () => Date.now() / 1000; // in seconds\nconst getMinuteDelta = (earlierTime) =>\n  ((getCurrentTimeUnix() - earlierTime) / 60) * timeSpeedUp;\n\nconst smokeThreshold = 80;\nconst inactivityThreshold = 60; // minutes\n\n// initialise/retrieve variables\n// context.get retrieves variable in current flow instance\nlet electricityLastValue = context.get(\"electricityLastValue\") || 0;\nlet electricityLastUpdated = context.get(\"electricityLastUpdated\") || 0;\nlet waterLastValue = context.get(\"waterLastValue\") || 0;\nlet waterLastUpdated = context.get(\"waterLastUpdated\") || 0;\nlet motionLastDetected = context.get(\"motionLastDetected\") || 0;\nlet smokeFirstDetected = context.get(\"smokeFirstDetected\") || 0;\nlet smokeNoticed = context.get(\"smokeNoticed\") || false;\nlet smokeAlert = context.get(\"smokeAlert\") || false;\nlet inactivityAlert = context.get(\"inactivityAlert\") || false;\n\n// update last usage value for electricity, water\nif (msg.payload.electricity != electricityLastValue) {\n  electricityLastValue = msg.payload.electricity;\n  electricityLastUpdated = getCurrentTimeUnix();\n}\n\nif (msg.payload.water != waterLastValue) {\n  waterLastValue = msg.payload.water;\n  waterLastUpdated = getCurrentTimeUnix();\n}\n\nif (msg.payload.motion) {\n  motionLastDetected = getCurrentTimeUnix();\n}\n\n// inactivity analysis\n// check if electricity, water or motion has been the same for more than inactivityThreshold minutes\n\n// getTimeDelta\nlet electricityTimeDelta = getMinuteDelta(electricityLastUpdated);\nlet waterTimeDelta = getMinuteDelta(waterLastUpdated);\nlet motionTimeDelta = getMinuteDelta(motionLastDetected);\n\nif (\n  electricityTimeDelta >= inactivityThreshold &&\n  waterTimeDelta >= inactivityThreshold &&\n  motionTimeDelta >= inactivityThreshold\n) {\n  inactivityAlert = true;\n} else {\n  inactivityAlert = false;\n}\n\n// smoke analysis\n// if smoke goes above threshold, and persists for more than 5 minutes\nif (msg.payload.smoke >= smokeThreshold && !smokeNoticed) {\n  smokeNoticed = true;\n  smokeFirstDetected = getCurrentTimeUnix();\n}\n\nlet smokeTimeDelta = getMinuteDelta(smokeFirstDetected);\n\nif (msg.payload.smoke >= smokeThreshold && smokeNoticed) {\n  if (smokeTimeDelta > inactivityThreshold) {\n    smokeAlert = true;\n  }\n} else if (msg.payload.smoke < smokeThreshold) {\n  smokeNoticed = false;\n}\n\ncontext.set(\"electricityLastValue\", electricityLastValue);\ncontext.set(\"electricityLastUpdated\", electricityLastUpdated);\ncontext.set(\"waterLastValue\", waterLastValue);\ncontext.set(\"waterLastUpdated\", waterLastUpdated);\ncontext.set(\"motionLastDetected\", motionLastDetected);\ncontext.set(\"smokeFirstDetected\", smokeFirstDetected);\ncontext.set(\"smokeNoticed\", smokeNoticed);\ncontext.set(\"smokeAlert\", smokeAlert);\ncontext.set(\"inactivityAlert\", inactivityAlert);\n\nmsg.data = {\n  homeInfo: {\n    homeId: msg.deviceId,\n    electricityLastValue: electricityLastValue,\n    electricityLastUpdated: electricityLastUpdated,\n    waterLastValue: waterLastValue,\n    waterLastUpdated: waterLastUpdated,\n    motionLastDetected: motionLastDetected,\n    smokeFirstDetected: smokeFirstDetected,\n    smokeNoticed: smokeNoticed,\n  },\n  homeAlert: {\n    homeId: msg.deviceId,\n    smokeAlert: smokeAlert,\n    inactivityAlert: inactivityAlert,\n  },\n  timeDelta: {\n    electricityTimeDelta: electricityTimeDelta,\n    waterTimeDelta: waterTimeDelta,\n    motionTimeDelta: motionTimeDelta,\n    smokeTimeDelta: smokeTimeDelta,\n  },\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 240,
    "wires": [
      [
        "d0919bd8.2f607",
        "11abf916.ccb507",
        "550693ab.85d774",
        "cf666226.7fb438"
      ]
    ]
  },
  {
    "id": "4e1950b8.58d5f8",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "deviceId",
    "targetType": "msg",
    "x": 640,
    "y": 120,
    "wires": []
  },
  {
    "id": "79086991.5c336",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 640,
    "y": 40,
    "wires": []
  },
  {
    "id": "d0919bd8.2f607",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 640,
    "y": 240,
    "wires": []
  },
  {
    "id": "11abf916.ccb507",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "timeDelta",
    "targetType": "msg",
    "x": 650,
    "y": 300,
    "wires": []
  },
  {
    "id": "550693ab.85d774",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "alert",
    "targetType": "msg",
    "x": 630,
    "y": 180,
    "wires": []
  },
  {
    "id": "cf666226.7fb438",
    "type": "change",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"_id\":\"storage/homeNormal\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 520,
    "wires": [["47994f04.46e47", "623dddf8.9e4704", "a09bfc31.4b1238"]]
  },
  {
    "id": "47994f04.46e47",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 500,
    "y": 660,
    "wires": []
  },
  {
    "id": "623dddf8.9e4704",
    "type": "cloudant in",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "cloudant": "7653cb11.0a8124",
    "database": "noderedtuecs",
    "service": "node-red-tuecs-cloudant-1591684447308-19496",
    "search": "_id_",
    "design": "",
    "index": "",
    "x": 520,
    "y": 520,
    "wires": [["40d2e0f0.8f7988"]]
  },
  {
    "id": "a09bfc31.4b1238",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "alert",
    "targetType": "msg",
    "x": 510,
    "y": 560,
    "wires": []
  },
  {
    "id": "40d2e0f0.8f7988",
    "type": "function",
    "z": "6e95fbf7.c3c174",
    "name": "get rev, join data",
    "func": "msg.db = { _id: msg.payload._id, _rev: msg.payload._rev };\nmsg.payload = msg.data;\nmsg.payload[\"_id\"] = msg.db._id;\nmsg.payload[\"_rev\"] = msg.db._rev;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 720,
    "y": 520,
    "wires": [
      [
        "8904d672.94973",
        "c2387cc9.6e6868",
        "8074f3ed.d59848",
        "5b6c0a67.85fb2c",
        "d34851fa.84d93"
      ]
    ]
  },
  {
    "id": "8904d672.94973",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "db",
    "targetType": "msg",
    "x": 920,
    "y": 580,
    "wires": []
  },
  {
    "id": "c2387cc9.6e6868",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "db._rev",
    "targetType": "msg",
    "x": 930,
    "y": 520,
    "wires": []
  },
  {
    "id": "8074f3ed.d59848",
    "type": "cloudant out",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "cloudant": "7653cb11.0a8124",
    "database": "noderedtuecs",
    "service": "node-red-tuecs-cloudant-1591684447308-19496",
    "payonly": true,
    "operation": "insert",
    "x": 940,
    "y": 460,
    "wires": []
  },
  {
    "id": "5b6c0a67.85fb2c",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 930,
    "y": 660,
    "wires": []
  },
  {
    "id": "d34851fa.84d93",
    "type": "debug",
    "z": "6e95fbf7.c3c174",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload._id",
    "targetType": "msg",
    "x": 940,
    "y": 740,
    "wires": []
  },
  {
    "id": "a0ddb367.4e94",
    "type": "ibmiot",
    "z": "",
    "name": "shaketest",
    "keepalive": "60",
    "serverName": "",
    "cleansession": true,
    "appId": "",
    "shared": false
  },
  {
    "id": "7653cb11.0a8124",
    "type": "cloudant",
    "z": "",
    "host": "myaccountname.cloudant.com",
    "name": "My Cloudant account"
  }
]
